Flask>=3.0.0
flask-cors>=4.0.0
gunicorn>=21.2.0
requests
earthengine-api
pandas
numpy
scikit-learn
joblib
google-generativeai
Pillow
tifffile
imagecodecs
rasterio
python-dotenv
imbalanced-learn
tqdm
groq
geopandas
rasterstats==0.19.0
